body {
  font-family: 'Press Start 2P', cursive;
  background: #fce9cc url('../img/pixel-background.png') repeat;
  animation: moveBackground 60s linear infinite;
}

.main-logo {
  background-image: url('../img/image.png');
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 50px;
  height: 50px;
  top: 3px;
  left: 20px;
  z-index: 100;
}

/* moving bg */
@keyframes moveBackground {
  from { background-position: 0 0; }
  to { background-position: -512px 0; }
}

.pixel-border {
  image-rendering: pixelated;
  border: 4px solid #000;
}

.pixel-hover:hover {
  background-color: #ffe18d;
  box-shadow: 0 0 0 4px #000 inset;
}

/* transisi section */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
